<div class="basic-container">
<form [formGroup]="contactForm" (ngSubmit)="OnClickContact(contactForm.value)">
    <mat-card>
        <mat-card-header>
          <h1 class="title">
            Contact
          </h1>
        </mat-card-header>
        <div class="inputform">
          <mat-input-container floatPlaceholder="auto">
              <input matInput formControlName="name" type="text" required placeholder="Nom">
          </mat-input-container>  
          <mat-input-container floatPlaceholder="auto">
            <input matInput formControlName="email" type="text" required placeholder="Email">
          </mat-input-container>
          <mat-input-container floatPlaceholder="auto">
            <input matInput formControlName="subject" type="text" required placeholder="Sujet">
          </mat-input-container>
          <mat-input-container floatPlaceholder="auto">
              <textarea matInput placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" formControlName="message" required></textarea>
          </mat-input-container>
          <div class="button-row">
              <button mat-raised-button color="primary" type="submit" (click)="onClickRegister()">Envoyer</button>
            </div>
            <mat-progress-bar mode="indeterminate" progress [style.visibility]="(visible == 0) ? 'hidden' : 'visible' "></mat-progress-bar>
          </div>
        </mat-card>
</form>

</div>
