
<mat-card >
<button mat-button [matMenuTriggerFor]=""> <mat-icon>home</mat-icon> Home</button>
<button mat-button [matMenuTriggerFor]=""><i class="material-icons">import_contacts</i> Courses</button>
<button mat-button [matMenuTriggerFor]=""><mat-icon><i class="material-icons">mail_outline</i></mat-icon>Contact Us !</button>
<button mat-button [matMenuTriggerFor]="menu" style="float: right;" > <mat-icon>account_box</mat-icon>Profile</button>
<button mat-button [matMenuTriggerFor]="" style="float:right;" ><mat-icon>search</mat-icon>Search</button>
<mat-menu #menu="matMenu" yPosition="above">
  <button mat-menu-item>Login</button>
  <button mat-menu-item>SignUp</button>
</mat-menu>
</mat-card>






