<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a href="" routerLink='/'>home</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='menu'>menu</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='login'>login</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='users'>users</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='register'>register</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='courses'>courses</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='dashbord'>dashbord</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='addcourses'>addcourses</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='search'>search</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='viewcourses'>viewcourses</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='comments'>comments</a></h2>
  </li>
  <li>
    <h2><a href="" routerLink='contactus'>contactus</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
